Makefile.in
aclocal.m4
autom4te.cache
config.h.in*
configure
Makefile
config.h
config.log
config.status
stamp-h1
*.tar.gz
configure.scan
autoscan.log
confout
option_list
quip-1.0
dcout
dcerrs
conferrs
scanout
output
*.o
*.a
errors
a.out
.deps

